html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    background-color: #753183;
}

/** Globales **/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/** Utilidades **/

.seccion {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.centrar-texto {
    text-align: center;
}

.fw-300 {
    font-weight: 300;
}

.d-block {
    display: block!important;
}

/** Botones **/

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton-azul {
    background-color: #1c12a5;
}

.boton-azul:hover {
    background-color: #4d41f7;
}

.contenedor-boton {
    margin-top: 0;
    padding: 0 2rem 2rem 2rem;
    max-height: 4rem;
}


/** Header **/

.site-header {
    background-color: #404449;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/inicio.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.barra img {
    width: 15rem;
}


/** Navegacion **/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #05c7f2;
}

.navegacion a:last-of-type {
    margin: 0;
}

/** Bienvenida **/

.bienvenida {
    height: 100vh;
    margin-top: 0!important;
}

.contenido-bienvenida {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenido-bienvenida h2{
    font-size: 7rem;
    font-weight: 300;
    position: relative;
}

.contenido-bienvenida h2::after {
    content: '';
    display: block;
    width: 74rem;
    height: 0.7rem;
    background-color: #05f2f2;
    margin-top: 1rem;
    position: absolute;
    left: 22.9rem;
}

.contenido-bienvenida p {
    font-size: 3rem;
}

.frase {
    margin-top: 5rem;
    padding: 2rem;
    background-color: #001a75;
    border-radius: 1.8rem;
}

.frase blockquote {
    font-size: 2.7rem;
    font-weight: 300;
}

.frase p {
    font-size: 2.1rem;
    font-weight: 300;
    font-style: italic;
}

/** Main - Producciones **/

.producciones {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedor-producciones {
    display: flex;
    justify-content: space-between;
}

.artista {
    flex-basis: calc(33.3% - 1rem);
    border: 3px solid rgba(0, 0, 0, 0.75);
    background-color: rgba(211, 211, 211, 1);
    margin: 0 2rem;
}

.contenido-producciones h2 {
    color: white;
    margin-bottom: 5rem;
    font-size: 5rem;
    font-weight: 300;
}

.artista h3 {
    text-align: center;
    font-size: 3.5rem;
}

.artista img {
    width: 70rem;
}

.iconos-artista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.iconos-artista p {
    margin-left: 2rem;
    font-weight: 700;
    font-size: 3rem;
    font-weight: 300;
}

.iconos-artista li {
    display: flex;
    align-items: center;
}

.iconos-artista li img {
    width: 5rem;
    height: 5rem;
}

/** Compañias **/

.compañias h3 {
    color: white;
}

.imagen-compañias {
    background-image: url(../img/imagen-empresas.png);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.contenido-compañias {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 45rem;
}

.imagen-compañia {
    border-radius: 1rem;
    width: 12rem;
    margin: 2rem;
}

/** Destacado **/

.destacado {
    /* margin-top: 3rem; */
    color: white;
}

.destacado h3 {
    font-size: 5rem;
    font-weight: 300;
}

.contenido-destacado {
    display: flex;
    justify-content: space-between;
    
}

.destacado-info {
    margin-left: 3rem;
}

.destacado-info h4 {
    text-align: center;
    font-size: 3rem;
}

.destacado-info p {
    font-size: 2.5rem;
}

/** Inferior **/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: white;
}

.seccion-inferior .estadisticas {
    flex-basis: 60%;
}

.seccion-inferior .inferior-contacto {
    flex-basis: calc(40% - 1rem);
}

.estadisticas img {
    display: block;
    margin: auto;
    width: 16rem;
} 

.estadisticas h4{
    text-align: center;
}

.comentario {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1.5rem;
    padding: 2rem;
}

.comentario p {
    text-align: right;
    font-style: italic;
}

.inferior-contacto {
    margin-left: 2rem;
    background-image: url(../img/imagen-contacto.png);
    background-position: center center;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: center;
}

/** Footer **/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #404449;
    color: white;
    text-align: center;
    align-items: center;
    padding: 2rem;
    line-height: 0.4;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.redes a {
    text-decoration: none;
    color: white;
    display: block;
    margin: auto;
    width: 5rem;
}

/** Paginas internas **/

.site-header.inicio-internas .barra a{
    width: 10rem;
}

/** Nosotros **/

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    color: white;
    margin-bottom: 6rem;
}

.nosotros .estadisticas img{
   width: 8rem; 
}

.nosotros .estadisticas h4 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 0;
}

.nosotros .contenido-nosotros h2 {
    font-size: 4rem;
    font-weight: 300;
}

.comentarios {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.comentarios h3 {
    margin: 0;
}

.comentarios .comentario {
    margin-top: 4rem;
    max-width: 80rem;
}

.comentarios .comentario:last-of-type {
    margin-bottom: 2rem;
}

